/*definindo as cores*/
:root {
    --text-color: #FFFFFF;
    --bg-color: #EB7F67;
    --bg-trasparent: #2E2B2B;
    --border-color: #f5deb3;
    --bg-button: #e7683ae0;
}

/*Configurando a tela*/
html,
body,
#root {
    height: 100vh;
    background-color: var(--bg-trasparent);
}

.App {
    /*jogo de cores*/
    color: var(--text-color);

    /*Flex*/
    display: flex;
    align-items: center;
    flex-direction: column;
}

/*Ajustando os itens*/


/*Titulo*/
#title {
    font-style: italic;
    text-shadow: 1px 1px 1px var(--bg-button);
    color: var(--bg-color);
    margin: 0px 20px;
    align-self: flex-end;
}

/*Configurando centro*/
.App .editor-zone {
    flex-grow: 1;
    height: 610px;
    display: flex;
    margin: 10px;
    text-align: center;
    align-items: center;
}

/*Caixa da imagem*/
.App .editor-zone .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App .editor-zone .container img {
    width: auto;
    height: 400px;
}

/*Efeitos*/
.efeitos {
    color: var(--bg-trasparent);
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);

}

.efeitos ul li {
    padding: 10px 20px;
    border-top: 1px solid var(--text-color);
}

/*Lateral*/
.funcs .size {
    padding: 10px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
    margin-top: 20px;
}

.funcs .size h3 {
    font-size: 1.2em;
}

.funcs .size .select-size {
    margin-top: 10px;
    padding: 5px 10px;
    border: 1px solid var(--border-color);
    background-color: var(--bg-color);
}

.funcs .size .select-size option {
    border: 1px solid var(--border-color);
}

.funcs .colors {
    display: flex;
    flex-wrap: wrap;
    width: 250px;
}

.funcs .colors .cor {
    border: 1px solid var(--text-color);
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 5px;
}

/*Rodapé*/
#footer {
    padding: 10px 0px;
    color: var(--text-color);
    text-align: center;
    align-self: stretch;
    background-color: var(--bg-color);
}

#footer a {
    text-decoration: none;
    color: var(--text-color);
    padding: 10px;
}

#footer a:hover {
    text-decoration: underline;
    color: var(--bg-trasparent);
}


/*Padrão*/

/* Botões */
.App button {
    margin: 10px;
    color: white;
    padding: 10px 20px;
    background-color: var(--bg-trasparent);
    border: 3px solid var(--bg-button);
}

.App button:hover {
    color: var(--bg-trasparent);
    background-color: var(--bg-color);
    transition: 0.5s all 0s ease-in-out;
}

/*Listas*/
.App ul {
    list-style-type: none;
    padding: 0px;
}

.App ul li {
    margin-bottom: 10px;
}

/*Init Hidden*/
.hidden,
#preInput {
    display: none;
}

/*Titulos*/
.editor-zone h5 {
    margin: 20px;
}