* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
}

body {

    font-family: Arial, Helvetica, sans-serif;
    
}

aside {
    position: absolute;
    left: 86%;
}


.slider {
    width: 100%;
    height: 15px;
    border-radius: 5px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: 0.2s;
    transition: opacity 0.2s;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

p{
margin-bottom: 10px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;

    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4caf50;
    cursor: pointer;
}

button {
    background-color: #326eb3; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px  0px 5px 15px;
  }

img{
    margin-left: 24%;
    margin-top: 5%;
}

#img-area {
    width: 79%;
    padding: 10px;
    border: #000 5px solid;
    border-radius: 5px;
    position: fixed;
}

#selection-tool {
    display: none;
    position: fixed;
    border: 2px dashed #326eb3;
}

#crop-image,
#download,
#photo-file {
    display: none;
}

.lista ul li {
    margin: 0;
    padding: 0px;
    border-bottom: 1px solid #CCC;
    text-align: left;
    margin-right: 8px;
}

.lista {
    width: 30%;
    margin: 0;
    padding: 0;
    float: left;
    border: 2px green;
}